# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Ignore data files but NOT Python scripts inside datasets/
datasets/raw/
datasets/processed/
datasets/*.json
datasets/*.csv

# These stay ignored
vector_db/
models/
*.pdf
.ipynb_checkpoints/
Thumbs.db